/* You can add global styles to this file, and also import other style files */
$color1: #ebe9ea;
$color2: #f1f1f1;
$color3: #1e65ff;
$color4: #0030f0;
$color5: #000a97;
$color6: #ff569c;
$color7: #fe1d6f;
$color8: #ea0161;
$color9: #4d4d4d;
$color10: #242424;
